// Based on Strata by Pixelarity
@import "fontawesome-all.min.css";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,300&display=swap');

// Base.
@import "base/base";
@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/vendor";
@import "libs/breakpoints";
@import "libs/html-grid";

$size-header-width: 35%;
$size-header-pad: 4em;

// Breakpoints.
@include breakpoints(
  (
    xlarge: (
      1281px,
      1800px,
    ),
    large: (
      981px,
      1280px,
    ),
    medium: (
      737px,
      980px,
    ),
    small: (
      481px,
      736px,
    ),
    xsmall: (
      null,
      480px,
    ),
  )
);

@import "base/reset";
@import "base/basic";
@import "layout/box";
@import "layout/box";
@import "layout/icon";
@import "layout/image";
@import "layout/list";
@import "layout/actions";
@import "layout/table";
@import "layout/buttons";
@import "components/header";
@import "components/footer";
@import "components/main";
@import "components/main";
@import "components/poptrox";
@import "layout/touch";
@import "layout/breakpoints";
